.listsView {
  flex: 1;
  background-color: #f7f7f7;
  padding: 10px;

  .header {
    display: flex;
    justify-content: flex-end;

    .title {
      flex: 1;
      margin-right: 10px;
    }
  }

  .container {
    flex: 1;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }

  .listNameContainer {
    flex: 1;
    margin-right: 10px;
  }

  .listName {
    padding: 10px;
  }
}
