.listsView {
  flex: 1;
  background-color: #f7f7f7;
  padding: 10px;

  .lists ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .listNameContainer {
    flex: 1;
    margin-right: 10px;
  }

  .listName {
    padding: 10px;
  }
}
