/* CSS reset */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

/* theme */

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    flex: 1;
    display: flex;
  }
}
