.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 10px;

  .header {
    display: flex;
    justify-content: flex-end;

    .title {
      flex: 1;
      margin-right: 10px;
    }

    .action {
      margin-left: 8px;
    }
  }

  .iconButton {
    padding: 0;
    min-width: 2.8rem;
  }

  &.write {
    .newItem {
      display: flex;
      margin-top: 10px;

      .content {
        flex: 1;
        margin-right: 10px;
      }
    }
  }

  .container {
    flex: 1;
  }

  &.write .row {
    display: flex;
    margin-top: 10px;
  }

  .listItemContent {
    flex: 1;
    margin-right: 10px;
  }

  &.read .row {
    margin-top: 8px;
    padding: 10px;
  }
}
